name: Release Package

on:
  push:
    tags:
      - "*.*"
      - "*.*.*"

jobs:
  release:
    name: Build & Publish Release
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --tags --force

      - name: Build package & publish to CurseForge / Wago
        uses: BigWigsMods/packager@v2
        with:
          args: -g "3.3.5,3.4.5,3.8.0"
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

      - name: Build package & publish to Github Releases
        uses: BigWigsMods/packager@v2
        with:
          args: -g "3.3.5,3.4.5,3.8.0" -n "{package-name}"
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
